<div id="top">
    <div id="baner">
        <a href="http://www.facebook.com/profile.php?id=100000985001930" id="facebook"></a>
        <a href="http://www.salon-zegarmistrzowski.pl" id="main_link">
            <?php echo $this->Html->image('/img/baner.jpg', ['alt' => 'logo']); ?>
        </a>
    </div>
</div>
