<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		    <p>
		        <label>Dane Kontaktowe:</label>
		    </p>
			<div id="adres">
				ul. Suraska1/lok1, 15-093 Białystok
			</div>

			<div id="telefon">
				tel.: 693980385
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		    <p>
                <label>Email:</label>
		    </p>
			<div id="mail">
				<a href="mailto:salonzegarmistrzowski@vp.pl">salonzegarmistrzowski@vp.pl</a><br>
				<a href="mailto:rado2004@wp.pl">rado2004@wp.pl</a>
			</div>
		</div>
	</div>
</div>
