$primary-blue: #337ab7;
$primary-black: #333;

.alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar, .panel {
    border-radius: 0;
}

header#main_header {
    margin-bottom: 20px;
    border: 1px solid $primary-blue;

    .navbar {
        margin-bottom: 0;
        color: $primary-black;
        background-color: white;
    }
}

#main_footer {
    border-left: none;
    border-right: none;
    border-bottom: none;

    .regular_row {
        padding: 20px;
    }
}

#top {

    img {
        width: 100%;
    }
}
